version: '3.7'

services:
  movie_service:
    build: ./movie_service
    image: movie_service:0.0.1
    container_name: movie_service
    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 8000
    volumes:
      - ./movie_service/:/app/
    ports:
      - 8001:8000
    environment:
      - DATABASE_URI=postgresql://movie_db_username:movie_db_password@movie_db/movie_db_dev
      - CAST_SERVICE_HOST_URL=http://cast_service:8000/api/v1/casts/
    depends_on: 
      - movie_db

  movie_db:
    image: postgres:12.1-alpine
    volumes:
      - postgres_data_movie:/var/lib/postgresql/data/
    environment:  
      - POSTGRES_USER=movie_db_username
      - POSTGRES_PASSWORD=movie_db_password
      - POSTGRES_DB=movie_db_dev

  cast_service:
    build: ./cast_service
    image: cast_service:0.0.1
    container_name: cast_service
    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 8000
    volumes:
      - ./cast_service/:/app/
    ports:
      - 8002:8000
    environment:
      - DATABASE_URI=postgresql://cast_db_username:cast_db_password@cast_db/cast_db_dev
    depends_on: 
      - cast_db

  cast_db:
    image: postgres:12.1-alpine
    volumes:
      - postgres_data_cast:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=cast_db_username
      - POSTGRES_PASSWORD=cast_db_password
      - POSTGRES_DB=cast_db_dev
   
  nginx:
    image: nginx:latest
    ports:
        - 8080:8080
    volumes:
        - ./nginx_config.conf:/etc/nginx/conf.d/default.conf
    depends_on:
        - cast_service
        - movie_service
        - pgadmin

  pgadmin:
    image: dpage/pgadmin4:4.25
    environment:
      PGADMIN_DEFAULT_PASSWORD: admin123
      PGADMIN_DEFAULT_EMAIL: marciocadev@gmail.com
    ports:
      - 15432:80

volumes:
  postgres_data_movie:
  postgres_data_cast: